<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <br>
    <h4 align="center">User List With Images</h4>
    <div class="container-fluid center">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">User Id</th>
                    <th scope="col">User Name</th>
                    <th scope="col">User Email</th>
                    <th scope="col">User Images</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of userData">
                    <th scope="row">{{user.user_id}}</th>
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    <td align="center">
                        <img [src]="user.images_path" width="100" height="100" class="img-thumbnail img" />
                    </td>
                    <td align="center">
                        <button class="btn btn-sm btn-danger" (click)=deleteImages(user.user_id)>Delete</button>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</body>

</html>